body {
    font: 20px Montserrat, sans-serif;
    line-height: 1.8;
    color: #000000;
}
p {font-size: 16px;}
ul {font-size: 14px;}
.margin {margin-bottom: 45px;}
.bg-1 {
    background-color: #ffffff; /* White*/
    color: #000000;
}
.bg-2 {
    background-color: #ffffff; /* Dark Blue */
    color: #ffffff;
}
.bg-3 {
    background-color: #ffffff; /* White */
    color: #555555;
}
.bg-4 {
    background-color: #ffffff; /* Black Gray */
    color: #fff;
}
/*.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
}*/
.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
}
.navbar-nav  li a:hover {
    color: #1abc9c !important;
}
/* Style the buttons that are used to open and close the accordion panel */
button.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 10px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
button.accordion.active, button.accordion:hover {
    background-color: #ddd;
}

/* Style the accordion panel. Note: hidden by default */
div.panel {
    padding: 0 18px;
    background-color: white;
    display: none;
}
